
.Categories-container{
    padding: 100px 0  0 100px;
    
}
 .card-items{
    text-align: center;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
   width: 350px;
    margin-right: 50px;
    padding: 20px;
}
 .card-items h3{
    color: black;
    padding: 20px 0;
}

/* Category-products */

 .category-card{
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 30px;
}
/* product details  */
.breadcrumb{
    background-color: rgb(232, 230, 230);
    padding: 5px 50px;
}
.breadcrumb-item,.breadcrumb-item a{
    font-size: 20px;
    color: purple;
}
.product-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.sub-headings{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
}
.rating{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: green;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    gap: 10px;
}
.item-weight{
    display: inline;
    padding: 6px 10px;
    border: 1px solid black;
    margin: 15px;
    font-weight: 500;
}
.item-weight:hover{
    border: 2px solid blue;
}
.cart-button-styles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
}
.cart-button-styles button, .cart-button-styles a{
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.08);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.cart-button-styles .cart-button{
        background-color: rgb(255,159,0);
}
.cart-button-styles .pay-button{
        background-color: rgb(251,100,27);
}
.review{
    padding-left: 15px;
    margin-bottom: 20px;
}
.review .review-names{
    display: flex;
    gap: 50px;
    margin-bottom: 5px;
}
.review .review-names .review-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: yellow;
    border-radius: 10px;
    padding: 2px 10px;
    flex-direction: row;

}

/* cart */
.cart-container .cart-card-container .table-headers{
    font-size: 18px;
    text-transform: uppercase;
    padding: 30px 0;
}
.cart-container .cart-card-container button{
    background-color: rgb(220, 220, 220,0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
 }
 .cart-container .cart-card-container input{
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    text-align: center;
    width: 80px;
    height: 40px;
 }
 .cart-footer-row{
   display: flex;
   justify-content: end;
   align-items: end;
   flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    gap: 20px;
 }
 .checkout-button{
    background-color: orangered;
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.08);
    color: white;
   
 }
  